/**
  Google Fonts は商用や印刷物に利用できます
  https://developers.google.com/fonts/faq?hl=ja
*/

/* Noto Sans Japanese https://fonts.google.com/noto/specimen/Noto+Sans+JP */
@font-face {
    font-family: 'Noto Sans JP';
    src: url('./Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf') format('truetype');
}

/* BIZ UDPGothic https://fonts.google.com/specimen/BIZ+UDPGothic */
@font-face {
    font-family: 'BIZ UDPGothic';
    src: url('./BIZ_UDPGothic/BIZUDPGothic-Regular.ttf') format('truetype');
}

/* すべてのフォントを変更する */
* {
    font-family: 'Noto Sans JP', sans-serif;
} 
