/* Webフォント */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap'); */

/* 相対パス */
@font-face {
    font-family: 'Noto Sans JP';
    src: url('./fonts/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf') format('truetype');
}

/* 絶対パス */
/* @font-face {
    font-family: 'Noto Sans JP';
    src: url('/Users/m_emoto/works/daigirin/techbook-template/book/theme/fonts/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf') format('truetype');
} */

/* 仮にすべてのフォントを変更する */
* {
    font-family: 'Noto Sans JP', sans-serif;
} 
